body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #96a1b8;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 100px;
    margin-left: 900px;
    background: rgb(223, 220, 220);
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 245, 245, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #666;
}
